.App {
  min-height: 100vh; /* Faz o app ocupar no mínimo toda a altura da tela */

  display: flex; /* Ativa o Flexbox */
  flex-direction: column; /* Organiza Navbar, conteúdo e Footer em coluna */

  background-color: var(--bg-color);
  color: var(--text-color);

  transition: background-color 0.3s, color 0.3s;
}

.container {
  max-width: 1000px; /* Limita a largura máxima do conteúdo */
  width: 100%; /* Permite que o container ocupe a largura disponível em telas menores */

  margin: 2rem auto; /* 2rem em cima/baixo e centraliza nas laterais */
  padding: 0 2rem;

  flex: 1; /* Faz o conteúdo ocupar o espaço disponível e empurra o footer para baixo */
}

.container {
  max-width: 1200px;
  width: 100%;

  margin: 2rem auto;
  padding: 0 2rem;

  flex: 1;
}