.home h1 {
    text-transform: uppercase; 
    text-align: center; 
    margin-bottom: 1.5rem; /* adiciona espaço abaixo do título */
}

.post {
    display: flex; /* transforma o post em um container flex */
    flex-direction: column; /* organiza os elementos do post em coluna */
    margin-bottom: 1.5rem; /* espaço abaixo de cada post */
    padding-bottom: 1.5rem; /* espaço interno na parte de baixo do post */
    border-bottom: 1px solid #777; /* cria uma linha separando um post do outro */
}

.post h2, 
.post p {
    margin-bottom: 1rem; /* adiciona espaço abaixo do título e do parágrafo */
}

.post h2::first-letter {
    text-transform: uppercase; 
}

.btn {
    background-color: #fff; 
    color: #0e1217; 
    border: 1px solid #fff; /* borda branca no botão */
    opacity: 1; 
    padding: 0.5rem 1rem; /* espaço interno do botão */
    border-radius: 1rem; 
    max-width: 100px; 
    text-align: center; 
    cursor: pointer; 
    transition: 0.3s; 
}

.btn:hover {  /*hover: aplica o estilo quando o mouse estiver em cima do elemento */
    color: #fff; /* muda a cor do texto ao passar o mouse */
    background-color: #0e1217; /* muda o fundo do botão ao passar o mouse */
}